.body {
    display: flex;
    flex-direction: column;
}

.container {
    width: min(121.6rem, 85vw);
    margin: 0 auto;
}

.gone {
    width: 0;
    height: 0;
    position: absolute;
    left: -999px;
    visibility: hidden;
}
