.header {
    width: 100%;
    background: var(--white-100);
}

.header__content {
    padding: 1.6rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    color: var(--black-400);
}

.header__button {
    padding: 1.4rem 2.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: var(--white-100);
    background: var(--blue-500);
    border-radius: 0.4rem;
    transition: background-color 0.2s linear;
}

.header__button:hover {
    background: var(--blue-400);
}

.header__button:active {
    background: var(--blue-600);
}
