.header {
    width: 100%;
    background: var(--white-100);
}

.header__content {
    padding: 1.6rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    color: var(--black-400);
}

.header__button {
    padding: 1.4rem 2.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: var(--white-100);
    background: var(--blue-500);
    border-radius: 0.4rem;
    transition: background-color 0.2s linear;
}

.header__button:hover {
    background: var(--blue-400);
}

.header__button:active {
    background: var(--blue-600);
}

.main {
    flex: 1;
}

.main__row-title-section {
    margin-top: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__row-title-section > h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

.main__row-title-section > span {
    font-size: 1.6rem;
    color: var(--gray-300);
}

.main__row-tabs {
    margin-top: 4rem;
    width: 100%;
    height: 5.6rem;
    background: var(--white-100);
    display: flex;
    justify-content: center;
}

.main__row-tabs__content {
    height: 100%;
    display: flex;
    gap: 3.2rem;
    position: relative;
}

.main__row-tabs__tab {
    height: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray-300);
    background: transparent;
}

.main__row-tabs__tab--active {
    font-weight: 500;
    color: var(--blue-500);
}

.main__row-tabs-line {
    position: absolute;
    bottom: 0;
    height: 2px;
    background: var(--blue-500);
    transition: transform 0.4s ease;
}

.main__row-tabs-line--left {
    transform: translateX(-0.75rem);
}

.main__row-tabs-line.main__row-tabs-line--left {
    width: 55%;
}

.main__row-tabs-line--right {
    transform: translateX(15rem);
}

.main__row-tabs-line.main__row-tabs-line--right {
    width: 50%;
}

.main__services {
    margin-top: 7.2rem;
}

.list-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem 1.6rem;
}

.card-service {
    display: flex;
    flex-direction: column;
    background: var(--white-100);
    border-radius: 0.4rem;
    animation: show 0.5s linear;
}

.card-service__content {
    flex: 1;
    padding: 2rem 2.4rem 2rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.card-service__title {
    flex: 1;
    font-size: 2rem;
    font-weight: 500;
    color: var(--black-200);
}

.card-service__description {
    flex: 1;
    color: var(--gray-500);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}

.card-service__tags {
    flex: 1;
    display: flex;
    gap: 1.6rem;
}

.card-service__tags__tag {
    padding: 0.5rem 1rem;
    background: var(--white-700);
    border-radius: 0.4rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--gray-800);
}

.card-service__actions {
    height: 4.4rem;
    border-top: 1px solid var(--white-700);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-service__actions__link {
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s linear;
}

.card-service__actions__link--delete {
    color: var(--red-700);
}

.card-service__actions__link--delete:hover {
    background: var(--red-100);
}

.card-service__actions__link--finished {
    color: var(--green-700);
}

.card-service__actions__link--finished:hover {
    background: var(--green-100);
}

.card-service__actions__link--details {
    color: var(--blue-700);
}

.card-service__actions__link--details:hover {
    background: var(--blue-100);
}

.modal {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: grid;
    place-content: center;
}

.modal__container {
    padding: 4rem 6.4rem;
    border-radius: 0.4rem;
    background: var(--white-300);
    animation: show 0.3s linear;
}

.modal__container__title {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--black-300);
}

.modal__container__form {
    margin-top: 3.2rem;
    width: min(70rem, 80vw);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modal__container__form__input-group {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.modal__container__form__input-group__label {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--gray-600);
}

.modal__container__form__input-group__input {
    padding: 1.4rem 1.6rem;
    font-size: 1.6rem;
    color: var(--gray-800);
}

.modal__container__form__input-group__input::placeholder {
    color: var(--gray-100);
}

.modal__container__form__row-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
}

.modal__container__form__buttons {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.6rem;
}

.modal__container__form__buttons__button--secondary {
    width: 13.2rem;
    height: 4.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: var(--blue-500);
    background: transparent;
    border-radius: 0.4rem;
    border: 1px solid var(--blue-500);
}

.main__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 3.2rem;
}

.details-service {
    grid-column: 3 / 9;
}

.breadcumbs {
    margin-top: 4.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray-400);
}

.breadcumbs__breadcumb--disabled {
    color: var(--gray-400);
}

.breadcumbs__breadcumb--active {
    color: var(--blue-500);
    font-weight: 500;
}

.details-service__service {
    margin-top: 4rem;
}

.details-service__service__title {
    color: var(--black-400);
    font-weight: 600;
    line-height: 4.6rem;
}

.details-service__service__description {
    margin-top: 2.4rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--gray-600);
}

.details-service__service__data-table {
    margin-top: 3.2rem;
    display: flex;
    gap: 4rem;
}

.details-service__service__data-table__column {
    text-align: left;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.details-service__service__data-table__column__title {
    color: var(--gray-500);
}

.details-service__service__data-table__column__tag {
    padding: 0.5rem 1rem;
    background: var(--white-700);
    border-radius: 0.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--gray-800);
}

.details-service__form-comment {
    margin-top: 6.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details-service__form-comment__label {
    font-size: 1.8rem;
    color: var(--gray-800);
}

.details-service__form-comment__input {
    border-radius: 0.4rem;
    padding: 1.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray-800);
}

.details-service__form-comment__input::placeholder {
    color: var(--gray-100);
}

.details-service__form-comment__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.8rem;
}

.details-service__form-comment__buttons__reset {
    width: 13.2rem;
    height: 4.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: var(--blue-500);
    background: transparent;
    border-radius: 0.4rem;
    border: 1px solid var(--blue-500);
}

.details-service__form-comment__buttons__submit {
    width: 13.2rem;
    height: 4.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: var(--white-100);
    background: var(--blue-500);
    border-radius: 0.4rem;
    transition: background-color 0.3s;
}

.details-service__form-comment__buttons__submit:hover {
    background: var(--blue-600);
}

.details-service__form-comment__buttons__submit:active {
    background: var(--blue-400);
}

.details-service__comments {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details-service__comments__title {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--gray-600);
}

.details-service__comments__list {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details-service__comments__list__item {
    padding: 1rem 1.2rem;
    flex: 1;
    background: var(--white-700);
    color: var(--gray-800);
    border-radius: 0.4rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.actions-service {
    grid-column: 9 / 10;
    margin-top: 11.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.actions-service__button {
    width: 13.6rem;
    height: 4.4rem;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    transition: filter 0.3s;
}

.actions-service__button:hover {
    filter: brightness(0.9);
}

.actions-service__button:active {
    filter: brightness(0.8);
}

.actions-service__button--green {
    color: var(--green-700);
    background: var(--green-100);
}

.actions-service__button--blue {
    color: var(--blue-700);
    background: var(--blue-100);
}

.actions-service__button--red {
    color: var(--red-700);
    background: var(--red-100);
}

@keyframes show {
    from {
        opacity: 0.2;
        transform: scale(0.7);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
